body{
	background-color: white;
	overflow: visible;
}
.content{
	visibility: visible;
	top: 0px;
}
.content .content-element .inner{
	overflow: hidden;
}
.search-container{
	margin-top: 5%;
	margin-left: 2%; 
}