body{
	background: #232526; /* fallback for old browsers */
  	background: -webkit-linear-gradient(to right, #232526, #414345); /* Chrome 10-25, Safari 5.1-6 */
  	background: linear-gradient(to right, #232526, #414345);
}
.promotion-info .img-wrapper{
	display: flex;
	justify-content: center;
}
.promotion-info .img-wrapper img{
	border-radius: 250px;
}
.promotion-info .promotion-list-wrapper{

}
.promotion-list{
	list-style: none;
}
.promotion-list .list-element{
	width: 30%;
	border-bottom: 1px solid #4c4c4c;
	margin-bottom: 10px;
	color: white;
	font-size: 20px;
}
.promotion-list .list-element label span{
	position: relative;
	left: 100px;
}