html{
	height: 100%;
	
}
body{
	/*background-image: url(https://www.creationsiteinternet.be/file/2014/04/pink-bg.jpg);*/
	margin: 0px;
	background-color: gray;
	height: 100%;
	/*overflow: hidden;*/
}
a{
	text-decoration: none;
	color:#3c4859;
	font-family: 'Montserrat', sans-serif;
}

p, th {
color: white;
}

.content-container{
color: white;
}

nav{
	height: 7%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
.container{
	display: flex;
	justify-content: flex-end;
}
nav:after{
	content: "";
	height: 1px;
	position: relative;
	/*top:8px;*/
	background-color: #6d6875;
	width: 100%;

}
.container .logo-holder{
	display: flex;
}
.container .logo-holder:after{
	content: "|";
	color: #6D6875;
	font-size: 30px;
	position: relative;
	top:8px;
	left:5px;
}
.container .login-holder{
	display: flex;
	margin-left: 10px;
	position: relative;
	top:3px;

}
.container .login-holder:after{

}
.container .login-holder a{
	align-self: center;
	/*font-family: 'Montserrat', sans-serif;*/
}
.container .login-holder a:hover{
	color:#aaaaaa;
	transition: all .3s ease-in-out;
}
.container .logo-holder a{
	align-self: center;
	text-decoration: none;
	color:#0facf3;
	font-family: 'Lobster', cursive;
    font-size:30px;
}
.container .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 50%;
	-webkit-padding-start: 20%;
}
.container .nav-list li a{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.container .nav-list li a:hover{
	/*color: #aaaaaa;*/
	color:#0facf3;
	transition: all .3s ease-in-out;
}
.search-container{
	position: relative;
	align-self: center;
	z-index: 2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 10px;
	/*margin-top: 20%;
	margin-left:40%;*/ 
}
.search-container .search-container-wrap{
 	display: flex;
}
.search-container .search-container-wrap input,button,select{
	border-radius: 25px;
	border-style: none;
}
.search-container .search-container-wrap select{
	
	border-radius: 0px;
	border-color: #9195a7;
	border-width: 1px;
	border-style: solid;
	width: 70px;
	background-color: #fff;
	color: black;
}
.search-container .search-container-wrap input{
	/*border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;*/
	height: 30px;
	width: 200px;
	border-radius: 0px;
	border-top-color: #9195a7;
	border-bottom-color: #9195a7;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 1px;
	font-family: Arial;

} 
.search-container .search-container-wrap button{
	/*background-color: #faff96;*/
	background-color:#824bf3;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 40px;
} 
.search-container .search-container-wrap button i{
	color: white;
}
.search-container .info{
	margin-top: 20px;
    margin-left:70px;
}
.search-container .info span{
	text-align: center;
	color: white;
    font-family: 'Lobster', cursive;
    font-size:30px;
    /*margin-top: 10px;
    margin-left:70px;*/
}
.content{
	z-index: 1;
	/*visibility: hidden;*/
	margin-left: 25px;
	position: relative;
	height: 0;
	/*top:560px;*/
	background-color: #fff;

}
.content-active{
	visibility: visible;
}
.content .content-wrapper{
	display: flex;
	justify-content: center;
}
.content .content-wrapper .content-element{
	display: flex;
	flex-wrap: wrap;
}
.content .content-wrapper .content-element .item{
	margin: 10px;
	overflow: hidden;
}
.content .content-wrapper .content-element .item .inner{
	width:	300px;
	height: 300px;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info{
 	background-color:#2c3f52;
 	position:relative;
 	top:-4px;
 	height:80px;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info span{
 	color:white;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info .coupon-button{
 	background-color:#ed4e6e;
 	color:white;
 	padding:10px;
 	float: right;
 	top:0px;
 	border-radius: 0px;
 	cursor: pointer;
 }

 body{
	
	overflow: visible;
}
.content{
	visibility: visible;
	top: 0px;
}
.content .content-element .inner{
	overflow: hidden;
}
.content .content-wrapper .content-element .item .item-popup{
	background-color: #2c3f52;
	position: absolute;
	visibility: hidden;
	width:0px;
	height: 0px;
}
.content .content-wrapper .content-element .item .item-popup .links{
	position: relative;
	top:95px;
	display: flex;
	justify-content: space-around;
}
.content .content-wrapper .content-element .item .item-popup .links a{
	padding: 3px;
	padding-left: 113px;
	padding-right: 113px;
	color: white;
}
.content .content-wrapper .content-element .item .item-popup .links a:first-child{
	background-color: #0facf3;
}
.content .content-wrapper .content-element .item .item-popup .links a:last-child{
	background-color: #ed4e6e;
}
.content .content-wrapper .content-element .item .item-popup .date-wrapper{
	position: relative;
	top:20%;
	display: flex;
	justify-content: space-around;
	height: 12%;
	align-items: center;
}

.content .content-wrapper .content-element .item .item-popup .description{
	/*background-color: green;*/
	/*width: 400px;
	height: 300px;*/
	top:120px;
	position: relative;
	border:0px;
	border-top: 1px;
	border-color: black;
	border-style: solid; 
}
.content .content-wrapper .content-element .item .item-popup .date-wrapper .date{
	display: flex;
	flex-direction: column;
	width:50%;
	height: 80%;

}

.content .content-wrapper .content-element .item .item-popup .date-wrapper .date span:first-child{
	align-self: center;
}

.content .content-wrapper .content-element .item .item-popup .date-wrapper .date span:last-child{
	align-self: center;
	position: relative;
	top:18%;
}
.content .content-wrapper .content-element .item{
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease 0ms forwards;
}



@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}