html{
	height: 100%;
}
body{
	/*background-image: url(https://www.creationsiteinternet.be/file/2014/04/pink-bg.jpg);*/
	margin: 0px;
	background-color: #0c0c0c;
	height: 100%;
	overflow: hidden;
}
a{
	text-decoration: none;
	color:#3c4859;
	font-family: 'Montserrat', sans-serif;
}
nav{
	height: 7%;
	display: flex;
	flex-direction: column;
	background-color: #fff;
}
.container{
	display: flex;
	justify-content: flex-end;
}
nav:after{
	content: "";
	height: 1px;
	position: relative;
	/*top:8px;*/
	background-color: #6d6875;
	width: 100%;

}
.container .logo-holder{
	display: flex;
}
.container .logo-holder:after{
	content: "|";
	color: #6D6875;
	font-size: 30px;
	position: relative;
	top:8px;
	left:5px;
}
.container .login-holder{
	display: flex;
	margin-left: 10px;
	position: relative;
	top:3px;

}
.container .login-holder:after{

}
.container .login-holder a{
	align-self: center;
	/*font-family: 'Montserrat', sans-serif;*/
}
.container .login-holder a:hover{
	color:#aaaaaa;
	transition: all .3s ease-in-out;
}
.container .logo-holder a{
	align-self: center;
	text-decoration: none;
	color:#0facf3;
	font-family: 'Lobster', cursive;
    font-size:30px;
}
.container .nav-list{
	list-style: none;
	display: flex;
	justify-content: space-around;
	width: 50%;
	-webkit-padding-start: 50%;
}
.container .nav-list li a{
	text-decoration:none;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}
.container .nav-list li a:hover{
	/*color: #aaaaaa;*/
	color:#0facf3;
	transition: all .3s ease-in-out;
}
.search-container{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 20%;
	margin-left:40%; 
}
.search-container .search-container-wrap{
 	display: flex;
}
.search-container .search-container-wrap input,button,select{
	border-radius: 25px;
	border-style: none;
}
.search-container .search-container-wrap select{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right-color: #9195a7;;
	border-right-width: 1px;
	border-right-style: solid;
	width: 70px;
	background-color: #fff;
	color: black;
}
.search-container .search-container-wrap input{
	/*border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;*/
	height: 30px;
	width: 200px;
	border-radius: 0px;
	font-family: Arial;

} 
.search-container .search-container-wrap button{
	/*background-color: #faff96;*/
	background-color:#824bf3;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	width: 40px;
} 
.search-container .search-container-wrap button i{
	color: white;
}
.search-container .info{
	margin-top: 20px;
    margin-left:70px;
}
.search-container .info span{
	text-align: center;
	color: white;
    font-family: 'Lobster', cursive;
    font-size:30px;
    /*margin-top: 10px;
    margin-left:70px;*/
}
.content{
	z-index: 1;
	visibility: hidden;
	position: relative;
	height: 0;
	top:560px;
	background-color: #fff;
}
.content-active{
	visibility: visible;
}
.content .content-wrapper{
	display: flex;
	justify-content: center;
}
.content .content-wrapper .content-element .item .inner{
	width:400px;
	height: 300px;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info{
 	background-color:#2c3f52;
 	position:relative;
 	top:-4px;
 	height:80px;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info span{
 	color:white;
}
.content .content-wrapper .content-element .item
 .inner .wrapper .coupon-info .coupon-link{
 	background-color:#ed4e6e;
 	color:white;
 	padding:10px;
 	position:relative;
 	left:216px;
 	top:50px;
 }